[submodule "rules"]
	path = rules
	url = https://github.com/sanjeed5/awesome-cursor-rules-mdc.git
[submodule "rules-more"]
	path = awesome-cursorrules
	url = https://github.com/PatrickJS/awesome-cursorrules.git
